Source: skalibs
Section: libs
Priority: optional
Maintainer: multi <multi@in-addr.xyz>
Build-Depends: debhelper (>= 10), quilt
Standards-Version: 3.9.8
Homepage: https://skarnet.org/software/skalibs/

Package: libskarnet2.9
Architecture: any
Multi-Arch: same
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: skalibs (<= 2.8.1.0-1)
Conflicts: skalibs (<= 2.8.1.0-1)
Description: Public domain general-purpose libraries
 skalibs is a set of general-purpose, low-level C libraries, all in the
 public domain.  It can replace or hide the standard C library to some
 extent, and is designed to allow building of small, static binaries.
 .
 This package contains the skalibs runtime libraries.

Package: libskarnet-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, libskarnet2.9 (= ${binary:Version})
Replaces: skalibs-dev (<= 2.8.1.0-1)
Conflicts: skalibs-dev (<= 2.8.1.0-1)
Description: Public domain general-purpose libraries (development files)
 skalibs is a set of general-purpose, low-level C libraries, all in the
 public domain.  It can replace or hide the standard C library to some
 extent, and is designed to allow building of small, static binaries.
 .
 This package contains the skalibs development files.
